

@{
    ViewBag.Title = "People";
}

@{ 
    var names = new List<string> { "Thomas", "James", "Aldo Apache", "Marcus" };
}



<div class="row">
    <div class="col-md-10">
        <h2>People</h2>
        <p>
            <ul>
                @{
                    foreach (var name in names)
                    {
                        <li>@name</li>
                    }
                }
                
            </ul>

        </p>
    </div>
</div>